# Circle Web3 Services API Key (Testnet)
CIRCLE_API_KEY=""

# Circle Entity Secret (Required for Developer-Controlled Wallets)
# You generate this ciphertext during Circle setup
CIRCLE_ENTITY_SECRET=""

# The Wallet ID representing the AI Agent (Sender)
AGENT_WALLET_ID=""

# The Blockchain Address representing the Bounty Receiver
BOUNTY_WALLET_ID=""

# Google Gemini API Key
GEMINI_API_KEY=""
PORT=4000
AGENT_SECRET="SOVEREIGN_AGENT_SECRET_2026"
